.stage {
   height: 100px;
   width: 50%;
   margin: 0 auto;
   background-color: blueviolet;
   border-radius: 10px;
   box-shadow: 5px 5px 10px #868686;
   color: white;
   text-align: center;
   padding-top: 2rem;
}
.factor {
   display: flex;
   justify-content: center;
   align-items: center;
   .counter,
   .total-Price {
      height: 30px;
      width: 80px;
      background-color: hsl(271, 66%, 35%);
      color: white;
      font-size: 1.2em;
      border-radius: 15px;
      margin: 2rem;
      text-align: center;
   }
}
.chairs-grid {
   padding: 2rem;
   display: flex;
   flex-wrap: wrap;
   //    grid-template-columns: repeat(3, 1fr);
   gap: 50px;
   justify-content: center;
   align-items: center;

   .section-B {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 10px;
      border: 2px dashed gray;
      border-radius: 5px;
      padding: 19px;
   }
   .chair {
      background-color: gray;
      color: white;
      width: 48px;
      height: 41px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: -2px 5px 6px #9b9090;
      border-radius: 4px;
   }
   .section-A {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 10px;
      border: 2px dashed gray;
      border-radius: 5px;
      padding: 19px;
   }
   .section-D {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;
      border: 2px dashed gray;
      border-radius: 5px;
      padding: 19px;
   }
}
